@import './variables.scss';
@import './mixins.scss';

.new_tweet_input {
  display: none;
  flex-direction: column;
  justify-items: start;
  align-items: stretch;
  width: 90%;
  padding: 1em;
}

h2 {
  align-self: flex-start;
  margin: 0px 0px 5px;
}

form {
  @include flex-column;
  align-items: stretch;
}

#tweet_text {
  @include flex-column;
  width: 100%;
  min-height: 2.6em;
  background-color: $main-background-color;
  margin-bottom: 0.5em;
  overflow: hidden;
  text-align: center;
  border: {
    style: none;
    bottom: 2px solid $accent-half-opacity;
  }
}

.button_counter {
  @include flex-row;
  justify-content: space-between;
  margin: 5px;
  font-family: "Bungee", sans-serif
}

#empty_box {
  width: 80%;
}

button[type=submit] {
  background-color: $navigation-background-color;
  color: $main-background-color;
  border: 0px;
  cursor: pointer;
  justify-self: flex-start;
}

.counter {
  color: $navigation-background-color;
  font: {
    family: "Bungee", sans-serif;
    style: italic;
  }
}

.error_message {
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 90%;
  height: 2em;
  margin: 1em;
  border: {
    style: solid;
    color: #545149;
  }
}