.new_tweet_input {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-items: start;
  align-items: stretch;
  padding: 1em;
}

h2 {
  align-self: flex-start;
  margin: 0px 0px 5px;
}

#tweet_text {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 2.6em;
  background-color: wheat;
  border-style: none;
  border-bottom: 2px solid grey;
  margin-bottom: 0.5em;
  overflow: hidden;
}

textarea::placeholder {
  text-align: left;
  transform: translateY(1em);
}

.button_counter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px;
  font-family: "Bungee", sans-serif
}

button[type=submit] {
  background-color: #4056A1;
  color: wheat;
  border: 0px;
}

.counter {
  font-family: "Bungee", sans-serif;
  color: #4056A1;
  font-style: italic;
}

